{% extends 'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/pagination_videos.css' %}" />
{% endblock %}
{% block title %}
  Mise à jour de l'interview
{% endblock %}
{% block contenu %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">Modifer l'interview</h2>
  <a class="btn btn-primary my-3" href="{% url 'create_video' interview_id=interview.element_id_property %}">Ajouter une vidéo</a>
  <form method="post" action="{% url 'update_interview' interview_id=interview.element_id_property %}">
    {% csrf_token %}
    
    <!-- Champ Titre -->
    <div class="mb-3">
      <label for="title" class="form-label">Titre :</label>
      <input type="text" id="title" name="title" class="form-control" value="{{ interview.title }}" required>
    </div>

    <!-- Sélection de l'Auteur -->
    <div class="mb-3">
      <label for="author" class="form-label">Auteur :</label>
      <div class="d-flex align-items-center gap-2">
        <select name="author" id="author" class="form-select" required>
          {% for author in authors %}
          <option value="{{ author.element_id_property }}" {% if interview.author.element_id_property == author.element_id_property %}selected{% endif %}>
            {{ author.name }}
          </option>
          {% endfor %}
        </select>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAuthorModal">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

    <!-- Sélection de la Visibilité -->
    <div class="mb-3">
      <label class="form-label">Visibilité :</label>
      <div class="form-check">
        <input type="radio" id="visibility-true" name="visibility" value="0" class="form-check-input" {% if interview.visibility == 0 %}checked{% endif %}>
        <label for="visibility-true" class="form-check-label">Publique</label>
      </div>
      <div class="form-check">
        <input type="radio" id="visibility-false" name="visibility" value="1" class="form-check-input" {% if interview.visibility == 1 %}checked{% endif %}>
        <label for="visibility-false" class="form-check-label">Privé</label>
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </div>
</form>
<button type="button" class="btn btn-danger" style="margin: 10px 0;" onclick="window.history.back();">
  Retour
</button>
</div>

<div class="carousel-container row g-2">
    <a
    {% if page_obj.has_previous %}
      href="?page={{ page_obj.previous_page_number }}"
    {% else %}
      href="#" disabled
    {% endif %}
      class="carousel-arrow left-arrow" >&#10094;</a>

    <div class="carousel-wrapper">
      {% for video in videos %}
        <div class="card">
          <img class="card-img-top" src="{{ video.get_thumbnail }}" alt="{{ video.get_title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ video.get_title }}</h5>
            <p>{{ video.get_readable_duration }}</p>
            <p>
              <em>Auteur: {{ video.get_author.name }}</em>
            </p>
          </div>
          <div class="card-body d-flex justify-content-between align-items-end">
            <a href="{% url 'update_video' video_id=video.element_id_property %}" class="btn btn-success">Modifier</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <a 
    {% if page_obj.has_next %}
      href="?page={{ page_obj.next_page_number }}"
    {% else %}
      href="#" disabled
    {% endif %}
    class="carousel-arrow right-arrow">&#10095;</a>
    
  </div>





<!-- Modale pour ajouter un auteur -->
<div id="addAuthorModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un auteur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'add_author' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Nom :</label>
              <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}